.eventos-header-ctn {
  padding-top: 140px;
  background-image: url('../../assets/img/layout/bg.png');
  background-repeat: repeat-y;
  background-size: 100% auto;
  background-position: center;
}
.eventos-header-text-title {
  text-align: center;
  font-size: 26px;
  margin-bottom: 32px;
}
.eventos-header-video-ctn {
  aspect-ratio: 3/2;
}
.eventos-header-text-desc {
  text-align: center;
  font-size: 14px;
  padding: 20px;
  margin: 0;
}

@media (min-width: 992px)  {
  .eventos-header-text-title {
    font-size: 32px;
    margin-bottom: 62px;
  }
  .eventos-header-text-desc {
    font-size: 18px;
    padding: 20px 40px;
  }
}