.eventos-videos-ctn {
  padding: 40px 20px;
  background-image: url('../../assets/img/layout/bg.png');
  background-repeat: repeat-y;
  background-size: 100% auto;
  background-position: center;
}
.eventos-video-ctn {
  width: 100%;
  height: 100%;
  aspect-ratio: 3/2;
  object-fit: cover;
  margin-bottom: 60px;
}
.eventos-video-text-desc {
  text-align: center;
  margin-top: 20px;
  font-size: 16px;
}

@media (min-width: 744px) {
  .eventos-videos-ctn {
    display: flex;
    flex-wrap: wrap;
  }
  .eventos-video-ctn {
    flex: 1 0 42%;
    margin: 10px;
    height: 100%;
    aspect-ratio: 3/2;
    object-fit: cover;
    margin-bottom: 0;
  }
}

@media (min-width: 992px) {
  .eventos-video-ctn {
    flex: 1 0 21%;
  }
}