.hero-ctn {
  position: relative;
  margin-top: 0;
  padding: 0;
  z-index: 1;
  animation-name: hero-reveal;
  animation-duration: 1s;
}
.carousel-brand {
  background: #fda700;
  height: 28px;
}
.carousel-brand-text {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 14px;
  padding: 3px 15px;
  color: #140e01;
  text-align: center;
}
.hero-carousel-img {
  height: 50vh;
  width: 100vw;
  object-fit: cover;
}

.hero-text-ctn {
  position: absolute;
  top: 35%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: rgba(0, 0, 0, .4);
  margin: 0 50px;
  padding: 15px 0 25px 0;
  border-radius: 5px;
  color: #fff;
}
.hero-text-title { 
  font-size: 36px;
}
.hero-text-subtitle {
  font-size: 22px;
  margin-top: 10px;
}
.hero-text-desc {
  font-size: 16px;
  margin-top: 30px;
}

@media (min-width: 744px) {
  .hero-ctn {
    margin-top: 80px;
    padding: 0;
  }
  .carousel-brand-text {
    font-size: 16px;
  }
  .hero-carousel-img {
    height: 60vh;
  }
  .hero-text-ctn {
    top: 30%;
    margin: 0 150px;
    padding: 25px 0 45px 0;
  }
  .hero-text-title { 
    font-size: 38px;
  }
  .hero-text-subtitle {
    font-size: 24px;
  }
  .hero-text-desc {
    font-size: 18px;
  }
}

@media (min-width: 992px) {
  .hero-text-ctn {
    top: 20%;
    width: 50%;
    margin: auto;
    padding: 45px 0 65px 0;
  }
  .hero-text-title { 
    font-size: 52px;
  }
  .hero-text-subtitle {
    font-size: 28px;
  }
  .hero-text-desc {
    margin-top: 42px;
  }
}

.class-buton-hero {
  color: #fff;
  border-color: #fff;
}
.class-buton-hero:hover {
  color: #fff;
  border-color: rgba(255, 255, 255, .2);
  background: rgba(255, 255, 255, .2);
}

@keyframes hero-reveal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}