.states-relation-content-ctn {
  background-color: #eee;
  padding: 48px 20px;
}
.states-relation-content-text-title {
  font-size: 22px;
}
.states-relation-content-cards-ctn {
  gap: 40px;
}
.states-relation-content-card-ctn {
  margin-top: 37px;
}
.states-relation-content-card-ctn > a {
  text-decoration: none;
  color: #000;
}
.states-relation-content-card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.states-relation-content-card-text-title {
  font-size: 20px;
  text-align: center;
  margin-top: 25px;
}
.states-relation-content-card-text-desc {
  font-size: 14px;
  text-align: center;
}

@media (min-width: 992px) {
  .states-relation-content-ctn {
    padding-bottom: 220px;
  }
  .states-relation-content-cards-ctn {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .states-relation-content-text-title {
    font-size: 32px;
  }
  .states-relation-content-card-text-title {
    font-size: 28px;
  }
  .states-relation-content-card-text-desc {
    font-size: 16px;
  }
}