.calendar-images-ctn {
  background-color: #fff;
  padding: 20px;
  background-image: url('../../assets/img/layout/bg.png');
  background-repeat: repeat-y;
  background-size: 100% auto;
  background-position: center;
}
.caldendar-images-card-ctn {
  padding: 30px;
  background-color: #eee;
  margin: 40px 0;
}
.calendar-images-card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
}
.calendar-images-card-text-title {
  font-size: 28px;
  margin-top: 25px;
  text-align: center;
}
.calendar-images-card-text-desc {
  font-size: 16px;
  margin-top: 20px;
  text-align: center;
}

@media (min-width: 992px) {
  .calendar-images-ctn {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
  }
  .calendar-images-card-img {
    height: 370px;
  }
}