.calendar-header-ctn {
  background-color: #eee;
  padding: 80px 0;
  background-image: url('../../assets/img/layout/bg.png');
  background-repeat: repeat-y;
  background-size: 100% auto;
  background-position: center;
}
.calendar-header-text-ctn {
  margin-top: 80px;
}
.calendar-header-text-title {
  font-size: 42px;
  text-align: center;
}
.calendar-header-text-subtitle {
  font-size: 22px;
  text-align: center;
  margin-top: 25px;
}
.calendar-header-calendar-ctn {
  display: block;
  padding: 20px;
}
.calendar-header-calendar-img-ctn {
  width: 100%;
  height: 100%;
}
.calendar-header-calendar-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  aspect-ratio: 1/1;
}
.calendar-header-calendar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.react-calendar-events {
  width: 100%;
}
.react-calendar-events .react_calendar_top_toggle_bar .react_calendar_round_toggle {
  padding: 2px 7px;
}
.calendar-header-text-desc-ctn {
  padding: 20px;
}
.calendar-header-text-desc {
  font-size: 16px;
  text-align: center;
}

@media (min-width: 992px) {
  .calendar-header-ctn {
    padding: 80px 0;
  }
  .calendar-header-text-title {
    font-size: 72px;
  }
  .calendar-header-text-subtitle {
    font-size: 32px;
  }
  .calendar-header-calendar-img {
    height: 600px;
    padding-top: 30px;
  }
  .calendar-header-calendar-ctn {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px
  }
  .calendar-header-text-desc-ctn {
    padding-top: 40px;
  }
  .calendar-header-text-desc {
    font-size: 18px;
    text-align: center;
  }
}