.header-ctn {
  position: absolute;
  top: 15px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  z-index: 25;
}
.header-a {
  cursor: pointer;
}
.header-logo {
  width: 150px;
}
.header-select {
  position: fixed;
  z-index: 99;
  right: 15px;
  top: 10px;
  width: 50px;
}
.header-select-input {
  background: transparent;
  border: none;
}
.header-select-input:hover:focus:active {
  background: transparent;
  border: none;
}
.header-back {
  display: none;
}

.nav-ctn {
  background-color: #dbeefe;
  bottom: 50px;
  height: 50px;
  position: fixed;
  width: 50px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  border-radius: 5px;
  z-index: 99;
}
#nav-active:checked + .nav-menu-btn span {
  transform: scaleX(0);
}
#nav-active:checked + .nav-menu-btn:before {
  transform: rotate(45deg);
  border-color: #000;
}
#nav-active:checked + .nav-menu-btn:after {
  transform: rotate(-45deg);
  border-color: #000;
}

.nav-menu-btn {
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.nav-menu-btn span,
.nav-menu-btn:before,
.nav-menu-btn:after {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    left: 30%;
    width: 40%;
    border-bottom: 2px solid #000;
    transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.nav-menu-btn:before {
  transform: translateY(-8px);
}
.nav-menu-btn:after {
  transform: translateY(8px);
}

.nav-close {
    display: none;
  /*z-index: 1;
  width: 100%;
  height: 100%;
  pointer-events: none;
  transition: background .6s;*/
}

.nav-wrapper {
  display: none;
}
#nav-wrapper {
  animation-name: hide-nav-menu;
  animation-duration: .5s;
}
.nav-show + .main-content {
  display: none;
}
#nav-wrapper.nav-show {
  position: absolute;
  display: block;
  background-color: #fff;
  width: 100vw;
  min-height: 100vh;
  padding-top: 60px;
  opacity: 1;
  animation-name: show-nav-menu;
  animation-duration: .5s;
}
.nav-show .nav-menu-options {
  list-style : none;

}
.nav-show .nav-menu-options li {
  height: 25px;
  width: 100%;
  margin: 15px 0;
}
.nav-show .nav-menu-options li a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 5px 0;
  color: #000;
  line-height: 30px;
  width: 100%;
  text-align: left;
}
.nav-show .nav-menu-options li a:hover {
  color: #ccc;
}
.nav-show .nav-menu-blog {
  list-style : none;
  margin-top: 10px;
  border-top: 1px solid #ccc;
}
.nav-show .nav-menu-blog li {
  height: 25px;
  width: 100%;
  margin: 15px 0;
}
.nav-show .nav-menu-blog li a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  padding: 5px 0;
  color: #000;
  line-height: 30px;
  width: 100%;
  text-align: left;
}
.nav-show .nav-menu-blog li a:hover {
  color: #ccc;
}
.nav-show .navbar-menu-video {
  display: none;
}

.nav-rss-ctn {
  display: block;
}
.nav-rss-ctn > a {
  text-decoration: none;
  margin-right: 5px;
}

input[id="nav-active"] {
  display: none;
}

@media (min-width: 744px) {
  .header-ctn {
    position: fixed;
    z-index: 100;
  }
  .header-back {
    display: flex;
    position: fixed;
    width: 100vw;
    height: 80px;
    background-color: #fff;
    z-index: 99;
    top: 0;
    left: 0;
  }
  .header-select {
    right: 20px;
    top: 27px;
  } 
  .nav-ctn {
    background-color: #fff;
    top: 15px;
    height: 50px;
    position: fixed;
    width: 50px;
    left: 15px;
    right: auto;
    border-radius: 5px;
    z-index: 100;
  }

  #nav-wrapper.nav-show {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #fff;
    width: 100vw;
    min-height: 100vh;
    padding-top: 80px;
    padding-left: 40px;
    opacity: 1;
    animation-name: show-nav-menu;
    animation-duration: .5s;
  }
  .nav-show .nav-menu-blog {
    margin-top: 0;
    border-top: none;
    background: rgb(243, 241, 241);
    height: 100%;
  }

  .hero-ctn {
    margin-top: 80px;
    padding: 0;
  }
}

@media (min-width: 992px) {
  #nav-wrapper.nav-show {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .nav-show .navbar-menu-video {
    display: flex;
    width: 100%;
    height: 100%;
  }
}

@keyframes hide-nav-menu {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes show-nav-menu {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}