.states-list-ctn { 
  padding: 20px;
  background-image: url('../../assets/img/layout/bg.png');
  background-repeat: repeat-y;
  background-size: 100% auto;
  background-position: center;
}
.states-list-ctn > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.states-card-ctn {
  margin: 40px 0;
  position: relative;
}
.states-card-back {
  display: none;
}
.states-card-ctn:hover .states-card-back {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: rgba(0, 0, 0, .4);
  color: #fff;
  height: 100%;
  width: 100%;
  font-size: 16px;
  animation-duration: .5s;
  animation-name: statesCard;
}
.states-card-back-desc {
  display: none;
}
.states-card-ctn:hover .states-card-back-desc {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  font-weight: 600;
}
.states-card-ctn > a {
  text-decoration: none;
  color: #000;
}
.states-card-img {
  width: 100%;
  aspect-ratio: 1/1;
}
.states-card-text-title {
  text-align: center;
  margin: 12px;
  font-size: 24px;
}
.states-card-text-desc {
  text-align: center;
  font-size: 14px;
}

@media (min-width: 744px) {
  .states-list-cards-ctn {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}

@media (min-width: 992px) {
  .states-list-cards-ctn {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  .states-card-ctn {
    flex: 1 0 21%;
  }
  .states-card-img {
    width: 100%;
    height: 250px;
  }
  .states-card-text-title {
    font-size: 24px;
  }
  .states-card-text-desc {
    font-size: 14px;
  }
}