.turismo-sostenible-content-ctn {
  padding: 142px 0;
  background-color: #eee;
  background-image: url('../../assets/img/layout/bg.png');
  background-repeat: repeat-y;
  background-size: 100% auto;
  background-position: center;
}
.turismo-sostenible-content-ctn-text {
  padding: 15px;
}
.turismo-sostenible-content-text-title {
  font-size: 26px;
}
.turismo-sostenible-content-text-desc {
  font-size: 16px;
}
.turismo-sostenible-content-ctn-badge {
  background-color: #ccc;
  text-align: center;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  margin-top: 35px;
}
.turismo-sostenible-content-badge-text {
  font-size: 16px;
  margin-bottom: 0;
}
.turismo-sostenible-content-ctn-img {
  margin-top: 35px;
  width: 100%;
  height: 100%;
}
.turismo-sostenible-content-img {
  width: 100%;
  height: 270px;
  object-fit: cover;
}

@media (min-width: 744px) {
  .turismo-sostenible-content-ctn {
    padding: 156px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .turismo-sostenible-content-text-title {
    font-size: 28px;
  }
  .turismo-sostenible-content-text-desc {
    font-size: 14px;
  }
  .turismo-sostenible-content-badge-text {
    font-size: 18px;
  }
  .turismo-sostenible-content-ctn-img {
    margin-top: 0;
    width: 100%;
    height: 100%;
    padding: 0 15px;
  }
}

@media (min-width: 992px) {
  .turismo-sostenible-content-ctn {
    padding: 172px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .turismo-sostenible-content-ctn-text {
    display: block;
    align-self: center;
  }
  .turismo-sostenible-content-text-title {
    font-size: 32px;
  }
  .turismo-sostenible-content-text-desc {
    margin-top: 15px;
    font-size: 16px;
  }
  .turismo-sostenible-content-ctn-img {
    margin-top: 0;
    width: 100%;
    height: 100%;
    padding: 0 15px;
  }
  .turismo-sostenible-content-img {
    height: 460px;
  }
  .turismo-sostenible-content-ctn-badge {
    padding: 35px;
  }
}