.sol-y-playa-cards-content-ctn {
  padding: 0 0 70px 0;
  background-color: #eee;
  background-image: url('../../assets/img/layout/bg.png');
  background-repeat: repeat-y;
  background-size: 100% auto;
  background-position: center;
}
.sol-y-playa-cards-content-card-ctn {
  margin: 0 20px;
}
.sol-y-playa-cards-content-card {
  margin-bottom: 50px;
  background: #e3e8ed;
  padding: 20px;
}
.sol-y-playa-content-card-img {
  height: 100%;
  width: 100%;
  aspect-ratio: auto;
}
.sol-y-playa-content-card-text {
  text-align: center;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 600;
}

@media (min-width: 744px) {
  .sol-y-playa-cards-content-card-ctn {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }
  .sol-y-playa-cards-content-card {
    flex: 1 0 40%;
    padding: 20px 20px 70px 20px;
  }
  
}

@media (min-width: 992px) {
  .sol-y-playa-cards-content-card {
    flex: 1 0 30%;
    padding: 20px 20px 80px 20px;
  }
  .sol-y-playa-content-card-text {
    font-size: 18px;
  }
}